// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-color: #EBD8CF; // Rosa pastello (sfondo, sezioni leggere)
$secondary-color: #FFE2D8; // Giallo limone (icone, illustrazioni, interattivi)
$accent-color: #804040; // Arancione mandarino (titoli, bottoni, evidenza)
$text-color: #39454b; // Grigio scuro (testo)
$background-neutral: #f0f0f0; // Grigio chiaro per il testo di base e gli sfondi
$background-white: #fff; // bianco