/* public/assets/css/custom.css */

:root {
    --primary-color: #EBD8CF; /* Rosa pastello */
    --secondary-color: #FFE2D8; /* Giallo limone */
    --accent-color: #804040; /* Arancione mandarino */
    --text-color: #39454b; /* Colore del testo principale del template */
}

/* Stili generali */
body {
    background-color: var(--primary-color) !important; /* Rosa pastello */
    color: var(--text-color);
}

/* Stili per i bottoni */
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: var(--accent-color) !important; /* Arancione mandarino */
    border: 0;
    border-radius: 3.5em;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    height: 3.5em;
    line-height: 3.5em;
    outline: 0;
    padding: 0 2em 0 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover,
button:hover {
    background-color: #995200 !important; /* Una versione più scura dell'arancione */
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active,
button:active {
    background-color: #995200 !important; /* Una versione ancora più scura dell'arancione */
}

/* Stili per le icone */
.icon {
    color: var(--secondary-color) !important; /* Giallo limone */
}

/* Titoli e testi in evidenza */
h1, h2, h3 {
    color: var(--accent-color) !important; /* Arancione mandarino */
}

.highlight {
    color: var(--accent-color) !important; /* Arancione mandarino */
    font-weight: bold;
}

/* Gradienti delle sezioni */
#intro {
    background: linear-gradient(to bottom, var(--primary-color), rgba(255, 209, 220, 0.7)), /* Rosa pastello con trasparenza */
                url("../../images/intro.jpg"); /* Manteniamo l'immagine di sfondo */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#one {
    background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color)); /* Rosa pastello e giallo limone */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#two {
    background: linear-gradient(to bottom, var(--primary-color), var(--accent-color)); /* Rosa pastello e arancione mandarino */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

/* Altri stili personalizzati */
.immagine-landing {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.immagine-landing:hover {
    transform: scale(1.70);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.offer img {
    padding-top: 20px; /* Aumenta questo valore se necessario */
}


/* ... */
s.button {
    display: inline-block;
    /* oppure */
    display: block;
}

.button span {
    position: absolute; /* Posiziona il testo in modo assoluto */
    white-space: nowrap; /* Impedisce il ritorno a capo del testo */
    transition: transform 0.3s ease; /* Aggiunge una transizione fluida */
}

.button:hover span {
    transform: translateX(110%); /* Sposta il testo fuori dal bottone */
}

.from-left a.image.fit {
    display: block;
}

.candle-container {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 20px; /* Aggiungi margine */
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    border-top: 2px solid #ccc; /* Aggiunto bordo superiore */
}

.circle-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.candle-name {
    font-size: 18px; /* Mantiene la stessa dimensione del testo */
    width: 100%;
    padding: 5px 0;
}

.circle-image:hover {
    transform: scale(1.1);
}